    <%- include('./includes/head.ejs') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
</head>

<body>
    <%- include('./includes/navigation.ejs', {username: username}) %>

    <div class="container">
        <div class="row">
            <div id="canvas-i-chart" class="col-lg-6 d-flex justify-content-center align-items-center">
            
            </div>
            <div id="canvas-p-chart" class="col-lg-6 d-flex justify-content-center align-items-center">
            
            </div>
        </div>

        <!-- <div class="d-flex justify-content-center align-items-center mt-5">
            <select id="select-element" data-placeholder="Choose an element" class="chosen-select" style="width: 300px;">
            </select>
            <button type="button" class="btn btn-success btn" onclick="drawChart()">Draw</button>
        </div> -->

        <div class="input-group mt-5 d-flex justify-content-center align-items-center">
            <input type="date" id="datepicker" style="width: 300px;">
            <button type="button" class="btn btn-success btn-sm" onclick="getElementList()">Load Date</button>
        </div>

        <div class="input-group mt-5 d-flex justify-content-center align-items-center">
            <select id="filterSelect" data-placeholder="Choose an element"  style="width: 300px;">
            </select>
            <button type="button" class="btn btn-success btn-sm" onclick="drawChart()">Draw Chart</button>
        </div>
          

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/data-chart/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#filterSelect').select2();
        });
    </script>
</body>

<%- include('./includes/end.ejs') %>