    <%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs', {username: username}) %>
    <!-- <div class="topnav">
        <a href="#" class="active">Home</a>
        <a href="#">Tạo công tác</a>
        <a href="#">PTVH</a>
        <a href="#">Điều hành</a>
        <form action="/logout" method="POST">
            <button type="submit" class="logout-button" style="float: right;">Log Out</button>
        </form>
        <a href="#" id="username" style="float: right;" class="userdisplay">
            <%=username %>
        </a>
    </div> -->
    <!-- <h1>HOME PAGE PHÒNG ĐIỀU ĐỘ A2</h1> -->
</body>

<%- include('./includes/end.ejs') %>