<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs', {username: username}) %>
    <div class="container-fluid">
        <div class="row my-3 justify-content-center align-items-center">
            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <h4><b>TẠO NHÓM CÔNG TÁC</b></h4>
            </div>
        </div>

        <div class="row my-3 justify-content-center align-items-center">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
              <div class="input-group">
                  <span class="input-group-text">Group ID</span>
                  <input type="text" class="form-control" value="<%=group_id %>" disabled id="group-id">
              </div>
          </div>
      </div>

        <div class="row my-3 justify-content-center align-items-center">
            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <div class="input-group">
                    <span class="input-group-text">Bắt đầu</span>
                    <input type="datetime-local" class="form-control" placeholder="Schedule Start" id="schedule-start">
                    <span class="input-group-text">Kết thúc</span>
                    <input type="datetime-local" class="form-control" placeholder="Schedule Finish" id="schedule-finish">
                </div>
            </div>
        </div>

        <div class="row my-3 justify-content-center align-items-center">
            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <div class="input-group">
                    <span class="input-group-text">Đơn vị</span>
                    <input type="text" class="form-control" placeholder="B03, B04, PC,..." id="crew">
                </div>
            </div>
        </div>

        <div class="row my-3 justify-content-center align-items-center">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
              <div class="input-group">
                  <span class="input-group-text">Trạm</span>
                  <input type="text" class="form-control" placeholder="Trạm" id="station">
              </div>
          </div>
        </div>

        <div class="row my-3 justify-content-center align-items-center">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
              <div class="input-group">
                  <span class="input-group-text">Nội dung</span>
                  <textarea class="form-control" id="content"></textarea>
              </div>
            </div>
        </div>
        
        <div class="row my-3 justify-content-center align-items-center">
          <div class="col-lg-5 d-flex justify-content-center align-items-center">
              <div class="input-group">
                  <span class="input-group-text">PTT</span>
                  <input type="text" class="form-control" placeholder="PTT" id="ptt">
              </div>
          </div>
        </div>

        <div class="row my-3 justify-content-center align-items-center">
          <div class="col-lg-2 d-flex justify-content-center align-items-center">
            <div class="btn-group" role="edit-delete-btn">         
              <button type="button" class="btn btn-success" onclick="createWorkingGroup()">Create</button>
              <button type="button" class="btn btn-secondary">Clear</button>
            </div>
          </div>
        </div>
        
    </div>

    <hr>

    <table id="productSizes" class="table table-hover table-striped table-bordered">
      <thead>
          <tr class="d-flex">
              <th class="col-1 d-flex justify-content-center align-items-center">Bắt đầu</th>
              <th class="col-1 d-flex justify-content-center align-items-center">Kết thúc</th>
              <th class="col-1 d-flex justify-content-center align-items-center">Đơn vị</th>
              <th class="col-1 d-flex justify-content-center align-items-center">Trạm</th>
              <th class="col-6 d-flex justify-content-center align-items-center">Nội dung</th>
              <th class="col-1 d-flex justify-content-center align-items-center">PTT</th>
              <th class="col-1 d-flex justify-content-center align-items-center">Edit/Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr class="d-flex">
              <td class="col-1 d-flex justify-content-center align-items-center">15:00 22-10-2024</td>
              <td class="col-1 d-flex justify-content-center align-items-center">16:00 22-10-2024</td>
              <td class="col-1 d-flex justify-content-center align-items-center">61 - 6361 - 6361 - 6361 - 63</td>
              <td class="col-1 d-flex justify-content-center align-items-center">89 - 91</td>
              <td class="col-6 d-flex justify-content-center align-items-center">61 - 63</td>
              <td class="col-1 d-flex justify-content-center align-items-center">89 - 91</td>
              <td class="col-1 d-flex justify-content-center align-items-center">
                <div class="btn-group" role="edit-delete-btn">         
                  <button type="button" class="btn btn-primary">Sửa</button>
                  <button type="button" class="btn btn-danger">Xóa</button>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</body>

<script src="/js/working-group/create-working-group.js"></script>
<%- include('../includes/end.ejs') %>